@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Marcellus&display=swap");
* {
  color: #eee;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
  scroll-behavior: smooth;
  scroll-padding-top: 128px;
}

:root {
  --acent-color: #cca17e;
  --main-color: #10242e;
  --secondary-color: #06131a;
}

svg {
  width: 32px;
  height: 32px;
}

body {
  background: var(--main-color);
}

a,
button {
  cursor: pointer;
  transition: all 300ms;
}

.header {
  text-align: center;
  margin-bottom: 32px;
}
.header h2 {
  letter-spacing: 2px;
  line-height: 2;
}
.header p {
  letter-spacing: 4px;
  font-weight: 100;
  text-transform: capitalize;
}
.header hr {
  width: 20%;
  margin: 8px auto;
}

.trigger {
  transition: all 700ms;
  transform: translateY(32px);
  opacity: 0;
}

.auto-play {
  animation: fade-up 700ms 300ms forwards;
}
.auto-play.two {
  animation-delay: 400ms;
}
.auto-play.three {
  animation-delay: 600ms;
}
.auto-play.four {
  animation-delay: 800ms;
}
.auto-play.five {
  animation-delay: 1000ms;
}
.auto-play.six {
  animation-delay: 1100ms;
}
.auto-play.seven {
  animation-delay: 1200ms;
}

hr {
  border-color: rgba(0, 0, 0, 0.6);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.container {
  padding: 0 64px;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
  z-index: 10;
}
.navbar img {
  width: 64px;
  height: 64px;
  transition: all 300ms;
}
.navbar .nav-open {
  display: none;
}
.navbar nav {
  transition: all 500ms;
}
.navbar nav .nav-close {
  display: none;
}
.navbar nav ul {
  display: flex;
  gap: 32px;
  transition: all 500ms;
}
.navbar nav ul li {
  list-style: none;
}
.navbar nav ul li a {
  color: #fde;
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
  transition: all 100ms;
}
.navbar .account {
  display: none;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  background-color: var(--secondary-color);
  gap: 8px;
  border: 1px solid var(--acent-color);
}
.navbar .account p {
  font-weight: 400;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar .login {
  border: 1px solid var(--secondary-color);
  background-color: var(--main-color);
  color: #ddd;
  padding: 8px 16px;
  border-radius: 8px;
}
.navbar .login:hover {
  background: var(--secondary-color);
}
.navbar .login a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 0;
}

.footer {
  background-color: var(--secondary-color);
  padding: 32px 128px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 64px;
}
.footer .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .logo img {
  width: 128px;
  height: 128px;
  object-fit: cover;
}
.footer .logo .social-apps svg {
  width: 24px;
  margin: 0 8px;
}
.footer .logo p {
  font-size: 0.8rem;
  font-weight: 500;
}
.footer .content {
  padding: 8px;
}
.footer .content h3 {
  margin-bottom: 48px;
}
.footer .content p {
  line-height: 2;
}
.footer .contact-form {
  width: 50%;
  flex-grow: 1;
  padding: 8px 16px;
}
.footer .contact-form h3 {
  margin-bottom: 16px;
}
.footer .contact-form input,
.footer .contact-form textarea,
.footer .contact-form button {
  background: transparent;
  border: 1px solid rgba(221, 221, 221, 0.3333333333);
  padding: 8px 16px;
  border-radius: 8px;
}
.footer .contact-form button {
  background: rgb(227, 168, 6);
  color: var(--secondary-color);
  font-weight: 800;
  display: block;
}
.footer .contact-form #name,
.footer .contact-form #email {
  margin-right: 16px;
  width: 40%;
  margin-bottom: 16px;
}
.footer .contact-form #textarea {
  width: calc(80% + 16px);
  resize: none;
}

.copyright {
  background: #000;
  font-size: 0.8rem;
  padding: 8px;
  text-align: center;
}

@keyframes fade-up {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
